.cover {
  width: 100%;
  height: 100%;
  display: table;
  background-image: image-url('hawaii.jpeg');
  background-size: cover;
}

.text-center {
  display: table-cell;
  padding-top: 100px;
}

.title {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

sub-title {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

@media only screen and (max-width: 767px) {

  .cover {
    background-position: center;
  }
}