.one-post {
  margin: 0px 10px;
}

.one-post img:hover {
  transform: scale(1.02, 1.02);
}

.buttons {
  display: flex;
  gap: 10px;
}

.comments-index {
  background-color: white;
  border: 1px black solid;
}

.comment-delete {
  margin-left: auto;
}

.form-group {
  width: 600px;
}

#file-select-btn {
  width: 600px;
}

.comments {
  width: 420px;
  margin-top: 20px;
}

#comment_comment {
  width: 420px;
}

.row-comment {
  margin-left: 40px;
}
@media only screen and (max-width: 767px) {
  .form-group {
    width: 360px;
  }

  #file-select-btn {
    width: 360px;
  }

  img {
    width: 360px;
    height: 240px;
    align-items: center;
  }
  
  .comments {
    width: 360px;
    margin-left: 0px;
  }

  #comment_comment {
    width: 360px;
  }

  .row.d-block {
    margin-left: 1px;
  }

  .row-comment {
    margin-left: 0;
  }
}